In [1]:
from __future__ import division, print_function, unicode_literals

# imports
import numpy as np
import os
import pandas as pd

# stabilité du notebook d'une exécution à l'autre
np.random.seed(42)

# ignorer les warnings inutiles (voir SciPy issue #5998)
import warnings
warnings.filterwarnings(action="ignore", message="^internal gelsd")

url = 'https://raw.githubusercontent.com/HugoLeBoennec/A4_Intelligence_Artificielle/main/Projet/'

general_data = pd.read_csv(url + "dataset/general_data.csv", error_bad_lines=False)
employee_survey_data = pd.read_csv(url + "dataset/employee_survey_data.csv", error_bad_lines=False)
manager_survey_data = pd.read_csv(url + "dataset/manager_survey_data.csv", error_bad_lines=False)
out_time = pd.read_csv(url + "dataset/out_time.csv", error_bad_lines=False)
in_time = pd.read_csv(url + "dataset/in_time.csv", error_bad_lines=False)
employee_survey_data

      EmployeeID  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance
0              1                      3.0              4.0              2.0
1              2                      3.0              2.0              4.0
2              3                      2.0              2.0              1.0
3              4                      4.0              4.0              3.0
4              5                      4.0              1.0              3.0
...          ...                      ...              ...              ...
4405        4406                      4.0              1.0              3.0
4406        4407                      4.0              4.0              3.0
4407        4408                      1.0              3.0              3.0
4408        4409                      4.0              1.0              3.0
4409        4410                      1.0              3.0              NaN

[4410 rows x 4 columns]

In [2]:
alldata = pd.concat([general_data,employee_survey_data,manager_survey_data], ignore_index=True)
alldata

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,51.0,No,Travel_Rarely,Sales,6.0,2.0,Life Sciences,1.0,1,Female,...,1.0,6.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,31.0,Yes,Travel_Frequently,Research & Development,10.0,1.0,Life Sciences,1.0,2,Female,...,6.0,3.0,5.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN
2,32.0,No,Travel_Frequently,Research & Development,17.0,4.0,Other,1.0,3,Male,...,5.0,2.0,5.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN
3,38.0,No,Non-Travel,Research & Development,2.0,5.0,Life Sciences,1.0,4,Male,...,13.0,5.0,8.0,7.0,5.0,NaN,NaN,NaN,NaN,NaN
4,32.0,No,Travel_Rarely,Research & Development,10.0,1.0,Medical,1.0,5,Male,...,9.0,2.0,6.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4406,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0
13226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4407,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.0
13227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4408,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0
13228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4409,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.0
13229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4410,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,3.0

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedShuffleSplit

housing["a_deviner"] = np.ceil(housing["truc_a_prendre"]/1.5)
housing["a_deviner"].where(housing["a_deviner"] < 5, 5.0, inplace=True) # replace where false

split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

for train_index, test_index in split.split(housing, housing["a_deviner"]):
    strat_train_set = housing.loc[train_index]
    strat_test_set = housing.loc[test_index]

for set_ in (strat_train_set, strat_test_set):
    set_.drop("a_deviner", axis=1, inplace=True)

housing = strat_train_set.copy()

NameError: name 'housing' is not defined